/* Full body setup */

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

#background {
    /* Workaound for background-attachment: fixed on safari */
    background: url("../background.gif");
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.full-screen {
    background-color: #f3f3f3;
    position: relative;
    width: 100%;
    min-height: 100%;
}

.map {
    position: relative;
    width: 100%;
    height: 400px;
}

.regular-screen {
    background-color: #f3f3f3;
    padding-top: 50px;
    padding-bottom: 50px;
}

div.interlude:nth-child(3) {
    background-color: #333;
    position: relative;
    height: 30%;
    width: cover;
}

.interlude {
    background-color: transparent;
    position: relative;
    height: 50%;
    width: cover;
    clear: both;
}

.call-to-action {
    position: relative;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #47A447;
    color: #fff;
}

.footer {
    background-color: #05B278;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.col-sm-12 > div:nth-child(2) > div:nth-child(1) > div > a {
    color: #fff;
}

#gotop {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 1;
    opacity: 0.8;
}

.nav-pills > li > a:hover {
    opacity: 1;
    background-color: #47A447;
}

.nav-pills > li > a:focus {
    opacity: 0.8;
    background-color: #47A447;
}

/* Intro */

#intro {
    background-color: transparent;
}

.list-group-item {
    background-color: #fff;
    opacity: 0.6;
}

.list-group-item a {
    color: #555;
}

#intro h1 {
    color: #ffffff;
}

#header-brand {
    animation: fade-in 2s;
    -moz-animation: fade-in 2s;
    -webkit-animation: fade-in 2s;
    -o-animation: fade-in : 2 s;
}

#header-menu {
    animation: fade-in 2s;
    -moz-animation: fade-in s;
    -webkit-animation: fade-in 2s;
    -o-animation: fade-in 2s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fade-in {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}
